@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #42261c;

    --secondary-color: #203023;
    --accent1-color: #d6e7d3;
    --accent2-color: #315C2B;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Poppins', serif;

    --nav-background-color: #43be7d;
    --nav-link-color: #203023;
    --nav-hover-link-color: #274029;
    --nav-hover-background-color: #3daf2ead;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    padding: 10px;
}

p {
    color: var(--primary-color)
}

/* header */

header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    background-color: var(--nav-background-color);
    grid-gap: 20px;
}

header nav a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-header {
    background-color: var(--nav-background-color);
    font: 1.2rem;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: auto;
}

.nav-header a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

.nav-header a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

.nav-header a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.logo {
    margin: 0 auto;
    border-radius: 30%;
    border: 1px solid black;
    width: 50px;
    height: auto;
  }

/* Hero section */

.background-image {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    padding: 12px;
    background-color: rgb(78 245 160 / 40%);
    font-family: var(--heading-font);
    font-size: 36px;
    color: #42261c;
    text-align: center;
}

article.employee {
    position: absolute;
    width: 80%;
    top: 40%;
    left: 10%;
    background-color: var(--nav-background-color);
    padding: 12px;
    opacity: 0.9;
}

article p {
    margin: 1rem;
}

article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 15px;
}

.hero>.hero2 {
    position: absolute;
    width: 30%;
    top: 70%;
    right: 8%;
    background-color: #56ac4c;
    border-radius: 24px;
    padding: 12px;
    opacity: 0.9;
  }

/* history section */

.history {
    text-align: center;
    padding: 20px;
    color:#42261c;
    margin-bottom: 10px;
}

.history h2 {
    color:#42261c;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    gap: 10px;
}

.history-content p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 8px;
}

.history-content img {
    max-width: 100%;
    max-height: 220px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

/* adventure section */

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.adventure h2 {
    color: #42261c;
    text-align: center;
    width: 100%;
}

.adventure img {
    max-width: 100%;
    height: 120px;
    display: block;
    margin: 0 auto;
}

figcaption {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}

/* contact us section*/

.contact h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}

.contact h3{
    margin-bottom: 0.5rem;
}

.contact h3 {
    align-items: center;
}

.contact p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 4px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 10px;
    text-align: left !important;
    line-height: 2rem;
    margin-top: 12px;
}

.contact-container h1{
    text-align: center;
    padding: 20px;
    margin-bottom: 18px;
} 

figure img {
    max-width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 10%;
}

.contact-container img{
    width: 350px;
    height: auto;
}

label{
    font-weight: bold;
}

.contact-container
input[type="text"],
input[type="email"],
textarea,
select {
    padding: 6px;
    width: 100%;
    font-weight: 200;
}


.radio-group {
    display: block;
    gap: 5px;
    align-items: left;
}


.radio-group input[type="radio"] {
    margin: 0;
    padding: 2px;
    appearance: none;
    border: 1px solid #6b2700;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}


.radio-group label {
    font-size: 16px;
    color: black;
}

.radio-group input[type="radio"]:checked {
    background-color: #6b2700;
}

.contactbutton, .newsletterbutton {
    background-color: #000080;
    color: #fff;
    padding: 14px 22px;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}

.contactbutton:hover {
    background-color: darkgreen;
}

.newsletterbutton {
    background-color: var(--accent2-color) !important;
}

/* trips section */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 550px;
  }
  
  
  .card img {
    max-width: 100%;
    border-radius: 5px;
    max-height: 300px;
  }
  
  .card ul {
    list-style: none;
    text-align: left;
    padding: 16px;
    line-height: 1.5rem;
  }
  
  .container p {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 8px;
  }
  
  .reviews {
    color: goldenrod;
  }
  
  .container button {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-size: var(--paragraph-font);
    border: 0;
    display: block;
    margin: 0 auto;
    border-radius: 26px;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
    text-decoration: none !important;
  }
  
  .container a {
    text-decoration: none !important;
  }
  
.hero h2, h4 {
    text-align: center;
    margin-top: 1rem;
}

/*INDEX CONTENT*/
.indexContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.indexContent p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-top: 0.5rem;
}

.indexContent img {
  width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 26px;
}

.indexContent button {
  background-color: var(--accent2-color);
  color: var(--secondary-color);
  font-size: var(--paragraph-font);
  border: 0;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 8px 16px;
  float: left;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
  margin-top: 0.5rem;
}

.indexContent input {
  padding: 8px;
  margin: 2px;
}

.indexContent h3 {
    font-size: 3rem;
    text-align: center;
}

.bonus{
    margin-left: 1.1rem;
    font-weight: 800;
}

/* footer section */

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 10px;
    text-align: center;
    margin-top: 0.5rem;
}

footer p {
    flex: 1;
}

.sociallinks {
    display: flex;
    gap: 5px;
}

.sociallinks a {
    margin-right: 10px;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 25px;
    height: auto;
}
